*.vs/
*.suo
*.dsp
*.ncb
*.sln
*.vcxproj.filters
*.vcxproj
*.user
*.sdf
*.opensdf
*.sdl.docstates
*.cachefile

cmake_install.cmake

CMakeFiles/

[Ll]og/
[Ll]ogs/
[Hh]eap.dmp
[Tt]humbs.db

*.VC.db
*.VC.VC.opendb
*.VC.VC.opendb.lock
*.VC.opendb
*.VC.opendb.lock

build_x86/
[Dd]ebug/
[Rr]elease/